<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
            th:href="@{'/css/output.css'}"
            href="../static/css/output.css"
            rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
</head>
<body>
<div class="bg-gray-100 relative">
    <div class="flex">
        <!--Navigation-->
        <div th:replace="common/admin-navigation :: navigation"></div>

        <!-- Main Content -->
        <div class="flex-1 p-10">
            <div>
                <h1 class="text-3xl font-semibold">Chỉnh sửa người dùng</h1>
                <p class="mt-4">This is your main dashboard content.</p>
            </div>
            <div class="mx-auto">
                <!--NAVIGATION-->
                <div class="flex gap-5 justify-center items-center">
                    <label class="text-xl cursor-pointer border-b-2 border-b-coffee-500">
                        Hồ sơ
                        <input onchange="typeInfoChange()" type="radio" name="typeInfo" value="profile" class="hidden">
                    </label>
                    <label class="text-xl cursor-pointer">
                        Địa chỉ
                        <input onchange="typeInfoChange()" type="radio" name="typeInfo" value="address" class="hidden">
                    </label>
                    <label class="text-xl cursor-pointer">
                        Đơn hàng
                        <input onchange="typeInfoChange()" type="radio" name="typeInfo" value="order" class="hidden">
                    </label>
                    <p></p>
                </div>
                <hr class="border-gray-300 my-3">

                <!--Profile-->
                <div id="profile" class="bg-white border border-gray-200 rounded shadow-lg">
                    <form th:action="@{'/CoffeeShop/users/' + ${user.id} + '/update'}" method="POST"
                          enctype="multipart/form-data"
                          class="p-10 flex justify-center gap-10"
                          th:object="${user}"
                    >
                        <div class="flex flex-col items-center">
                            <input type="hidden" name="userId" th:value="${user.id}">
                            <table class="w-full">
                                <tr>
                                    <td class="text-end text-slate-500">Tên đăng nhập</td>
                                    <td class="py-2 px-5">
                                        <input class="px-2 py-2 rounded" type="text" th:value="${user.username}"
                                               name="username"
                                               readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Mật khẩu</td>
                                    <td class="py-2 px-5">
                                        <input class="px-2 py-2 border border-gray-200 rounded" type="text"
                                               value="••••••••" name="password">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Tên</td>
                                    <td class="py-2 px-5">
                                        <input class="px-2 py-2 border border-gray-200 rounded" type="text"
                                               th:value="${user.firstName}" name="firstName">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Họ</td>
                                    <td class="py-2 px-5">
                                        <input class="px-2 py-2 border border-gray-200 rounded" type="text"
                                               th:value="${user.lastName}" name="lastName">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Email</td>
                                    <td class="py-2 px-5">
                                        <input class="px-2 py-2 border border-gray-200 rounded" type="email"
                                               th:value="${user.email}" name="email">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Số điện thoại</td>
                                    <td class="py-2 px-5">
                                        <input class="px-2 py-2 border border-gray-200 rounded" type="text"
                                               th:value="${user.phone}" name="phone">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Giới tính</td>
                                    <td class="py-2 px-5 flex gap-5">
                                        <label for="gender-male">
                                            <input id="gender-male" type="radio" value="Male" name="gender"
                                                   th:checked="${user.gender == 'Male'}">
                                            Nam
                                        </label>
                                        <label for="gender-female">
                                            <input id="gender-female" type="radio" value="Female" name="gender"
                                                   th:checked="${user.gender == 'Female'}">
                                            Nữ
                                        </label>
                                        <label for="gender-other">
                                            <input id="gender-other" type="radio" value="other" name="gender"
                                                   th:checked="${user.gender == 'Other'}">
                                            Khác
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Ngày sinh</td>
                                    <td class="py-2 px-5">
                                        <div class="my-2 flex gap-3 flex-wrap gap-3">
                                            <!-- Day Dropdown -->
                                            <div class="">
                                                <select class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                                                        name="date-day" required>
                                                    <option value="" disabled>Day</option>
                                                    <option th:each="dayOption : ${#numbers.sequence(1, 31)}"
                                                            th:value="${dayOption < 10 ? '0' + dayOption : dayOption}"
                                                            th:text="${dayOption}"
                                                            th:selected="${user.dob.dayOfMonth == dayOption}"></option>
                                                </select>
                                            </div>
                                            <!--Month Dropdown-->
                                            <div class="">
                                                <select class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                                                        name="date-month" required>
                                                    <option value="" disabled>Month</option>
                                                    <option th:selected="${user.dob.monthValue == 1}" value="01">Tháng
                                                        1
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 2}" value="02">Tháng
                                                        2
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 3}" value="03">Tháng
                                                        3
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 4}" value="04">Tháng
                                                        4
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 5}" value="05">Tháng
                                                        5
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 6}" value="06">Tháng
                                                        6
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 7}" value="07">Tháng
                                                        7
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 8}" value="08">Tháng
                                                        8
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 9}" value="09">Tháng
                                                        9
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 10}" value="10">Tháng
                                                        10
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 11}" value="11">Tháng
                                                        11
                                                    </option>
                                                    <option th:selected="${user.dob.monthValue == 12}" value="12">Tháng
                                                        12
                                                    </option>
                                                </select>
                                            </div>
                                            <!-- Year Dropdown -->
                                            <div class="">
                                                <select class="w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                                                        name="date-year" required>
                                                    <option value="" disabled>Year</option>
                                                    <option th:each="i : ${#numbers.sequence(0, now.year - 1900)}"
                                                            th:value="${now.year - i}"
                                                            th:selected="${user.dob.year == (now.year - i)}"
                                                            th:text="${now.year - i}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Vai trò</td>
                                    <td class="py-2 px-5 flex gap-5">
                                        <th:block th:if="${user.role.displayName == 'Admin'}">
                                            <p class="px-3 py-2 bg-gray-100 text-gray-500 border border-gray-200 rounded">
                                                Quản trị viên</p>
                                            <input type="hidden" value="1" name="roleId"/>
                                        </th:block>
                                        <th:block th:unless="${user.role.displayName == 'Admin'}">
                                            <select name="roleId" class="px-2 py-2 border border-gray-200 rounded">
                                                <option value="3" th:selected="${user.role.displayName == 'Employee'}">
                                                    Nhân viên
                                                </option>
                                                <option value="2" th:selected="${user.role.displayName == 'Customer'}">
                                                    Khách hàng
                                                </option>
                                            </select>
                                        </th:block>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end text-slate-500">Trạng thái</td>
                                    <td class="py-2 px-5 flex gap-5">
                                        <label for='status-active'>
                                            <input id='status-active' name="status" type='radio' value='1'
                                                   th:checked="${user.active == 1}">
                                            Active
                                        </label>
                                        <label for='status-inactive'>
                                            <input id="status-inactive" name="status" type='radio' value='0'
                                                   th:checked="${user.active == 0}">
                                            Inactive
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            <div class="flex justify-center">
                                <div id='saveForm'
                                     class="px-4 py-2 w-20 bg-coffee-500 rounded cursor-pointer text-center">Lưu
                                </div>
                            </div>
                            <div id='confirmUpdate'
                                 class="flex justify-center items-center top-0 right-0 left-0 bottom-0 bg-gray-500/75 z-20 absolute hidden">
                                <div class="bg-white rounded p-12 flex flex-col gap-10 justify-center items-center animate-[fadeIn_.5s_ease-out_,_moveInDownFull_.5s_ease-out]">
                                    <h1 class="text-3xl text-gray-800 text-center font-bold">Xác thực cập nhật!</h1>
                                    <label class="flex items-center gap-2">
                                        <input type="checkbox" name="sendForUser" value="Yes">
                                        Gửi thông báo đến email người dùng
                                    </label>
                                    <div class="flex gap-5">
                                        <div id='reject'
                                             class="py-2 px-3 bg-red-500 rounded w-24 text-center cursor-pointer">Quay
                                            lại
                                        </div>
                                        <div id='concept' onclick="saveProfile()"
                                             class="py-2 px-3 bg-green-500 rounded w-24 text-center cursor-pointer">
                                            Đồng ý
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--avatar upload-->
                            <input type="hidden" name="croppedImage" id="croppedImage">
                        </div>

                        <div class="flex flex-col gap-5 justify-center items-center">
                            <div class="rounded-full overflow-hidden w-32">
                                <img id="avatar"
                                     th:src="@{'/img/avatar/' + ${user.avatar != null ? user.avatar : 'default-image.png'}}"
                                     alt=""/>
                            </div>
                            <div onclick="showUploadImgForm()" class="px-3 py-2 border border-gray-200 cursor-pointer">
                                Chọn ảnh
                            </div>
                            <div class="text-gray-500">
                                <p>Dung lượng ảnh tối đa 1MB</p>
                                <p>Định dạng: .JPEG, .PNG</p>
                            </div>
                        </div>
                    </form>
                </div>

                <!--Address-->
                <div id="address" class="bg-white border border-gray-200 rounded shadow-lg hidden">
                    <div class="p-10">
                        <div class="flex flex-col gap-5">
                            <h1 th:if="${user.addresses.size() == 0}" class="text-2xl font-bold text-center">Chưa cập
                                nhật địa chỉ!</h1>
                            <th:block th:each="address : ${user.addresses}">

                                <div class="flex justify-between">
                                    <div class="flex flex-col gap-1">
                                        <div class="flex">
                                            <p th:text="${address.fullname}"></p>
                                            <div class="border-r-2 border-gray-300 mx-2"></div>
                                            <p class="text-gray-600" th:text="${address.phone}"></p>
                                        </div>
                                        <div class="text-gray-600">
                                            <p th:text="${address.addressDetail}"></p>
                                            <p th:text="${address.address}"></p>
                                        </div>
                                        <div th:if="${address.isDefault}"
                                             class="border border-red-700 text-red-700 w-[75px] text-center">Mặc
                                            định
                                        </div>
                                    </div>
                                    <div class="flex flex-col gap-2 text-end">
                                        <!--<p class="text-blue-500 cursor-pointer">Cập nhật</p>-->
                                        <div id="removeAddress" onclick="removeAddress(this)"
                                             th:if="${address.isDefault == 0}"
                                             th:attr="data-userId=${user.id}, data-addressId=${address.id}"
                                             class="text-red-700 cursor-pointer">Xóa
                                        </div>
                                        <!--<div class="p-1 border border-gray-300 cursor-pointer">Thiết lập mặc định</div>-->
                                    </div>
                                </div>
                                <hr class="border-gray-200">
                            </th:block>
                        </div>
                    </div>
                </div>

                <!--Order-->
                <div id="order" class="hidden">
                    <div class="flex flex-col gap-5">
                        <h1 th:if="${user.orders.size() == 0}" class="text-2xl font-bold text-center">Chưa có đơn hàng
                            nào!</h1>
                        <!--order-->
                        <div th:each="order : ${user.orders}" class="flex flex-col bg-white shadow-lg p-8 rounded">
                            <div>
                                <p th:if="${order.status.equals('pending')}" class="text-yellow-400 text-end uppercase">
                                    Đang xử lý
                                </p>
                                <p th:if="${order.status.equals('shipping')}" class="text-red-600 text-end uppercase">
                                    Đang giao hàng
                                </p>
                                <p th:if="${order.status.equals('completed')}"
                                   class="text-green-600 text-end uppercase">
                                    Hoàn thành
                                </p>
                            </div>
                            <hr class="border-gray-200">
                            <div class="flex flex-col">
                                <!--product-->
                                <th:block th:each="orderItem : ${order.orderItems}">
                                    <a th:href="@{'/CoffeeShop/product/' + ${orderItem.getProduct().getId()}}"
                                       class="flex justify-between cursor-pointer rounded p-2 hover:bg-coffee-200">
                                        <div class="flex gap-3">
                                            <div class="w-20 h-20 bg-red-500 rounded overflow-hidden">
                                                <img th:src="@{'/img/thumbnail/' + ${orderItem.product.thumbnailUrl}}">
                                            </div>
                                            <div class="flex flex-col gap-1">
                                                <p class="line-clamp-1" th:text="${orderItem.product.productName}"></p>
                                                <div class="text-gray-500">
                                                    <p th:each="key : ${orderItem.productVariant.attribute.keySet()}"
                                                       th:text="${key} + ': ' + ${orderItem.productVariant.attribute.get(key)}"></p>
                                                </div>
                                                <p th:text="'x' + ${orderItem.quantity}"></p>
                                            </div>
                                        </div>
                                        <div>
                                            <p th:text="${#numbers.formatDecimal(orderItem.totalPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></p>
                                        </div>
                                    </a>
                                    <hr class="border-gray-200">
                                </th:block>
                                <!--product-->
                            </div>
                            <div class="flex justify-between mt-2">
                                <p class="text-gray-500"
                                   th:text="'Ngày đặt hàng: ' + ${#dates.format(order.orderedDate, 'dd/MM/yyyy')}"></p>
                                <p>Tổng tiền: <span class="text-2xl text-coffee-500"
                                                    th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
                                </p>
                            </div>
                        </div>
                        <!--order-->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--annotation-->
    <!--    <div id='updateSuccesfull'-->
    <!--         class="flex justify-center items-center top-0 right-0 left-0 bottom-0 bg-gray-500/75 z-20 absolute">-->
    <!--        <div class="bg-white rounded p-12 flex flex-col gap-10 justify-center items-center animate-[fadeIn_.75s_ease-out_,_moveInDownFull_.75s_ease-out]">-->
    <!--            <h1 class="text-3xl text-gray-800 text-center font-bold">Cập nhật tài khoản thành công!</h1>-->
    <!--            <button id="conceptUpdateBtn" class="py-2 px-3 bg-green-500 rounded">Đồng ý</button>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--choose image-->
    <div id="uploadAvatarForm" class="flex justify-center items-center fixed inset-0 bg-gray-500/75 z-20 hidden">
        <div class="bg-white rounded p-5 relative animate-[fadeIn_.75s_ease-out_,_moveInDownFull_.75s_ease-out]">
            <div onclick="turnOffImgForm()"
                 class="absolute py-3 px-4 top-0 right-0 cursor-pointer text-gray-500 hover:bg-gray-200 rounded"><i
                    class="fa-solid fa-x"></i></div>
            <div class="flex flex-col gap-5" id="uploadForm">
                <input type="file" id="avatarInput" accept="image/*">
                <div class=" overflow-hidden flex justify-center">
                    <img class="max-w-72 max-h-72 max-w-full hidden" id="avatarPreview">
                </div>
                <button class="px-3 py-2 border border-gray-300" type="button" onclick="cropImage()">Crop & Upload
                </button>
            </div>
        </div>
    </div>

</div>
<script>
    var typeInfoOptions = document.querySelectorAll('input[name="typeInfo"]');

    function typeInfoChange() {
        typeInfoOptions.forEach(function (type) {
            if (type.checked) {
                var currentUrl = new URL(window.location.href);
                var searchParams = currentUrl.searchParams;
                searchParams.set('typeInfo', type.value);
                var newUrl = currentUrl.pathname + '?' + searchParams.toString();
                window.history.replaceState({}, '', newUrl);
                type.parentElement.classList.add('border-b-2', 'border-b-coffee-500');
                document.getElementById(type.value).classList.remove('hidden');
            } else {
                type.parentElement.classList.remove('border-b-2', 'border-b-coffee-500');
                document.getElementById(type.value).classList.add('hidden');
            }
        })
    }

    var typeInfo = new URL(window.location.href).searchParams.get('typeInfo');
    if (typeInfo == null) {
        var currentUrl = new URL(window.location.href);
        var searchParams = currentUrl.searchParams;
        searchParams.set('typeInfo', 'profile');
        var newUrl = currentUrl.pathname + '?' + searchParams.toString();
        window.location.href = newUrl;
    }
    typeInfoOptions.forEach(function (type) {
        if (type.value == typeInfo) {
            type.parentElement.classList.add('border-b-2', 'border-b-coffee-500');
            document.getElementById(type.value).classList.remove('hidden');
        } else {
            type.parentElement.classList.remove('border-b-2', 'border-b-coffee-500');
            document.getElementById(type.value).classList.add('hidden');
        }
    })

</script>

<script>
    var updateSuccessfull = document.getElementById('updateSuccesfull');
    var conceptUpdateBtn = document.getElementById('conceptUpdateBtn');
    if (updateSuccessfull) {
        conceptUpdateBtn.addEventListener('click', () => {
            updateSuccessfull.classList.add('hidden');
            // Remove url
            const currentUrl = new URL(window.location.href);
            const searchParams = currentUrl.searchParams;
            searchParams.delete('status');
            const newUrl = currentUrl.pathname + '?' + searchParams.toString();
            window.history.replaceState({}, '', newUrl);
        })
    }

    var saveForm = document.getElementById('saveForm');
    var confirmUpdate = document.getElementById('confirmUpdate');
    var reject = document.getElementById('reject');

    saveForm.addEventListener('click', () => {
        confirmUpdate.classList.remove('hidden');
    })

    reject.addEventListener('click', () => {
        confirmUpdate.classList.add('hidden');
    })
</script>


<!--//crop image-->
<script>
    function showUploadImgForm() {
        document.getElementById('uploadAvatarForm').classList.remove('hidden');
    }

    function turnOffImgForm() {
        document.getElementById('uploadAvatarForm').classList.add('hidden');
    }

    let cropper;
    document.getElementById('avatarInput').addEventListener('change', function (event) {
        const avatarPreview = document.getElementById('avatarPreview');
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            avatarPreview.src = e.target.result;
            avatarPreview.classList.remove('hidden');

            // Khởi tạo Cropper.js
            if (cropper)
                cropper.destroy();
            cropper = new Cropper(avatarPreview, {
                aspectRatio: 1,
                viewMode: 1
            });
        };

        reader.readAsDataURL(file);
    });

    function cropImage() {
        const croppedCanvas = cropper.getCroppedCanvas({
            width: 300,
            height: 300
        });

        // Chuyển đổi ảnh đã cắt thành Base64
        const croppedImage = croppedCanvas.toDataURL('image/png');
        document.getElementById('croppedImage').value = croppedImage;
        document.getElementById('avatar').src = croppedImage;
        document.getElementById('uploadAvatarForm').classList.add('hidden');
    }

</script>

<script>
    //Save profile
    function saveProfile() {
        let id = document.querySelector('input[name="userId"]').value;
        let username = document.querySelector('input[name="username"]').value;
        let password = document.querySelector('input[name="password"]').value === '••••••••' ? null : document.querySelector('input[name="password"]').value;
        let firstname = document.querySelector('input[name="firstName"]').value;
        let lastname = document.querySelector('input[name="lastName"]').value;
        let gender = document.querySelector('input[name="gender"]:checked').value;
        let email = document.querySelector('input[name="email"]').value;
        let phone = document.querySelector('input[name="phone"]').value;
        let role = document.querySelector('select[name="roleId"]').value;
        let active = document.querySelector('input[name="status"]:checked').value;
        let avatar = document.querySelector('input[name="croppedImage"]').value;
        let day = Number(document.querySelector('select[name="date-day"]').value);
        let month = Number(document.querySelector('select[name="date-month"]').value);
        let year = Number(document.querySelector('select[name="date-year"]').value);
        let date = new Date(Date.UTC(year, month - 1, day));


        let sendForUser = document.querySelector('input[name="sendForUser"]').checked;
        let json = JSON.stringify({
            id: id,
            username: username,
            password: password,
            firstName: firstname,
            lastName: lastname,
            gender: gender,
            email: email,
            phone: phone,
            dob: date,
            roleId: role,
            active: active,
            avatar: avatar,
            sendForUser: sendForUser
        })
        fetch("/CoffeeShop/users/" + id + "/update", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: json,
        })
            .then(response => response.text())
            .then((data) => {
                window.location.reload();
            })
    }
</script>

<script>
    //Remove Address
    function removeAddress(e) {
        let userId = e.getAttribute("data-userId");
        let addressId = e.getAttribute("data-addressId");
        let url = "/CoffeeShop/users/" + userId + "/addresses/" + addressId;
        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(() => window.location.reload());
    }
</script>
</body>
</html>