<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="../static/css/output.css" rel="stylesheet">
</head>
<body>
<div class="flex flex-col justify-center items-center h-screen max-w-md mx-auto">
    <div class="border border-slate-300 p-10 rounded w-full">
        <h1 class="text-center text-3xl font-bold mb-5 text-slate-800">LOGIN</h1>
        <form class="" action="#" th:action="@{/authenticateTheUser}" method="POST">

            <div th:if="${param.error}">
                <i class="text-red-500 p-3 bg-slate-300 inline-block rounded my-2 w-full">Your username or password is
                    incorrect</i>
            </div>

            <div th:if="${param.logout}">
                <i class="text-green-600 p-3 bg-slate-300 inline-block rounded my-2 w-full">You have been logged out</i>
            </div>

            <input class="border border-slate-300 rounded text-lg p-2 my-1 w-full" type="text" name="username"
                   placeholder="Username"/><br>
            <input class="border border-slate-300 rounded text-lg p-2 my-1 w-full" type="password" name="password"
                   placeholder="Password"/><br>
            <input class="py-2 px-3 my-2 bg-blue-300 rounded cursor-pointer" type="submit" value="Login"/>
        </form>
    </div>
</div>
</body>
</html>